<div id="page_wrapper">

<div class="home_header">
	 <%= link_to "ZACH FORD", about_path %>
</div>

<div class="home_nav">
		<ul>
				<li class="blog"><%= link_to "blog", posts_path %></li>
				<li class="design"><%= link_to "design", design_path %></li>
				<li class="music"><%= link_to "music", music_path %></li>
				<li class="other"><%= link_to "other", other_path %></li>
		</ul>
</div>

</div>